$colores: (
    "gris": #e1e1e1c0,
    "marron": #af5700,
);

@each $color, $valor in $colores {
    .titulo--#{$color}{
        color: $valor;
    }
}
.color--titulo:hover {
    @extend .titulo; 
    color: map-get($colores,marron) !important; 
}